<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Error 404: Help article not found</title>
        <link rel="icon" href="/img/weather.png" type="image/x-icon">
        <link rel="stylesheet" href="../CSS/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            {{>errorMessage}}
        </div>

        {{>footer}}
    </body>
</html>